body {
	background-color:black;
}

h1, h3, p, ol, a {
	font-family: Arial, sans-serif;
	font-size: 23px; 
	text-align: center; 
	color: white; 
	list-style-position: inside;
} 

#downloadlink { 
	background-color: #4CAF50; 
	padding: 15px 32px; 
	text-decoration: none; 
	display:block; 
	margin-left:25%;
	margin-right:25%;
}
